:root {
    --primary-font: 'Poppins', sans-serif;
    --primary-color-dark: #222222;
    --secondary-color: #7b7b7b;
    --color-tertiary: #F8F8F8;
    --primary-color-light: var(--color-tertiary);
    --primary-font-color-dark: #000;
    --primary-font-color-light: #fff;
    --primary-bg-color-dark: var(--primary-color-dark);
    --button-color: var(--primary-bg-color-dark);
    --color-cyan: rgb(0, 247, 255);

    --color-navy-blue: #1A2B49;
    --color-lighter-blue: #273c63;

    --color-dark: #222222;
    --color-white: #fff;
    --color-text: var(--color-dark);
    --bg-color: var(--color-tertiary);

}
[data-theme='dark'] {
    --bg-color: var(--color-dark);
    --text-color: var(--color-white);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color-light);
    font-family: var(--primary-font);
}
