header {
    position: absolute;
    z-index: 100;
    top: 3rem;
    width: 100%;
    background: rgba(25, 25, 25, 0.7);
}

.header-container {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary-color-light);
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}
.title-logo {
    height: auto;
    /* border: 1px solid black; */
    width: 75px;
    margin-left: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}

@media (max-width: 55em) {
    header {
        position: sticky;
        top: 0;
    }

    .header-container {
        flex-direction: column;
        align-items: normal;
    }
}

button{
    cursor: pointer;
}