header {
    position: absolute;
    top: 3rem;
    width: 100%;
    background: rgba(25, 25, 25, 0.3);
}

.header-container {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--primary-color-light);
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    height: 70px;
}
.title-logo a {
    color: var(--primary-color-light);
    margin-left: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width: 55em) {
    header {
        position: sticky;
        top: 0;
    }

    .header-container {
        flex-direction: column;
        align-items: normal;
        background: rgba(25, 25, 25, 0.7);
    }

    .title-logo {
        margin-top: 22.5px;
    }
}
